body {
    background-color: #fafafa;
    margin: 0px;
    font-size: 14px;
    min-height: 600px;
    overflow: hidden;
}

main {
    width: 90%;
    margin: 0 auto;
}

h2 {
    display: block;
    font-size: 1.4em;
    font-weight: 600;
    color: #03a9f4;
    margin-bottom: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    padding: 14px;
    margin: 0.5em 0 1em 0;
}

.container div.row {
    display: block;
    margin-bottom: 0.5em;
}

.container div.row label {
    font-weight: 600;
    width: 10em;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.container input:not([type="button"]) {
    box-sizing: border-box;
    padding: 15px;
    border: none;
    background-color: #f5f5f5;
    width: 30em;
}

.container input[type="button"] {
    /* margin-left: 10em; */
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    background-color: #fff;
    color: #039be5;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.container input[type="button"]:hover {
    background-color: #d8f3ff;
    cursor: pointer;
}

.container div.form-error {
    margin-left: 10em;
    padding: 3px 0 0 5px;
    color: #ff0000;
}

#logs {
    height: 380px;
}

#eventlog {
    height: 340px;
    overflow-x: hidden;
    overflow-y: scroll;
    word-wrap: break-word;
}

.alert {
    position: relative;
    margin-top: 0.5em;
    padding: 10px;
    display: none;
    border-radius: 3px;
}

.alert.alert-error {
    background-color: #f7e5e3;
}

.alert.alert-success {
    background-color: #e5f0e5;
}

.alert.show {
    display: block !important;
}
